@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

.currentEvents__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
  gap: 3rem;
  margin-bottom: 5rem;
  font-family: 'Open Sans', sans-serif;

  & .currentEvents__heading {
    font-size: 2rem;
    font-weight: 800;
    background: -webkit-linear-gradient(
      41deg,
      rgba(224, 46, 71, 1) 0%,
      rgba(141, 16, 161, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.currentEvents__carousel__container {
  width: 80%;
  height: 100%;
  position: relative;

  & > .carousel__slide__button {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    aspect-ratio: 1/1;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:nth-child(2) {
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}

.carousel__slide__content {
  position: relative;
  aspect-ratio: 16/10;
  line-height: 160px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  width: 50vw;
  --line-height: 1rem;
  --lines: 2;

  & > div:nth-child(1) {
    position: absolute;
    inset: 0;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & > div:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 10;
    line-height: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    // border: 1px solid yellow;
    & > h4 {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }
    & > p {
      font-size: 1rem;
      color: white;
      font-weight: 300;
      // background-color: blueviolet;
      text-align: end;

      display: -webkit-box;
      -webkit-line-clamp: var(--lines);
      -webkit-box-orient: vertical;

      line-height: var(--line-height);
      height: calc(var(--line-height) * var(--lines));
      // overflow: hidden;
    }

    & > a {
      background: linear-gradient(
        41deg,
        rgba(224, 46, 71, 1) 0%,
        rgba(141, 16, 161, 1) 50%,
        rgba(97, 28, 205, 1) 100%
      );
      color: white;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-weight: 700;
      transition: transform 0.2s ease-in-out;
    }

    & > a:hover {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 680px) {
  .currentEvents__section {
    & .currentEvents__heading {
      font-size: 1.5rem;
    }
  }
  .currentEvents__carousel__container {
    width: 90%;

    & > .carousel__slide__button {
      height: 2rem;
      font-size: 1rem;
    }
  }
  .carousel__slide__content {
    & > div:last-child {
      padding: 1.25rem;
      & > h4 {
        font-size: 1rem;
      }
      & > p {
        font-size: 0.75rem;
      }
      & > a {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}
