.section {
  //   width: 100vw;
  border: 1px solid green;
  height: 100%;
  & > div {
    border: 1px solid red;
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    & > div {
      border: 4px solid blueviolet;
      display: inline-block;
      flex-wrap: nowrap;
      animation: 5s scrollAnimation infinite linear;
      gap: 1rem;
      & > div {
        // width: min-content;
        display: inline-block;
      }
      & > div > img {
        height: 100px;
        margin: 0 5px 0 0;
      }
    }
  }
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
